@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');
@import "reset";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

